*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 450px;
}
label{
    margin: 10px 0;
}
.allcal{
    /* border: 1px solid black; */
    width: 300px;
    height: 410px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 17px;
    line-height: 1.5;
    border-radius:10px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(0, 0, 0, 0.7);
    /* outline-style: dashed;
    outline-width: 10px; */
}
h3{
    text-align: center;
    color: white;
    font-weight: 800;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

span{
    color: green;
}
small{
    color: red;
    margin-left: 93px;
    display: block;
}
#name{
    padding: 7px 5px;
    border-radius:5px;
    font-size: 16px;
    border: none;
    outline: none;
    width: 100%;
}
#nameErr{
    /* margin-left: 65px; */
    margin-left: auto;
    margin-right: auto;
}
#ageErr{
    /* margin-left: 120px; */
    margin-left: auto;
    margin-right: auto;
}
#dateOfBirth{
    padding: 7px 5px;
    width: 100%;
    border-radius:5px;
    font-size: 16px;
    border: none;
    outline: none;
}
#ageDisplay{
    /* border: 1px solid green;
    border-radius: 50%;
    padding: 0px 5px; */
    color: green;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
#nameDisplay{
    font-weight: 800;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
label{
    font-size: 16px;
    font-weight: 600;
}
.namdis{
    display: flex;
    gap: 8px;
    align-items: center;
    line-height: 1.7;
}
.namdis #nameDisplay
{
    font-weight: 600;
    font-size: 12px;
}
#hello{
    color: green;
    display: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
}
.age{
    display: flex;
    gap: 8px;
    /* margin-left: 50px; */
}
#you{
    display: none;
    font-weight: 600;
    
}
#year{
    display: none;
    font-weight: 600;
}
.btn-submit{
    display: flex;
    gap: 14px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#reset:hover{
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.2);
    color: white;
    opacity: 1;
    cursor: pointer;
    background-color: red;
}

#calc:hover{
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.2);
    color: white;
    opacity: 1;
    cursor: pointer;
    background-color: green;
}

#calc{
    background-color: transparent;
    border: 2px solid green;
    width: 100%;
    border-radius: 5px;
    transition: 0.4s ease-in-out;
    padding: 7px 12px;
    opacity: 0.9;
    color: white;
}


#back{
    background-color: black; 
    border: none;
    opacity: 0.9;
    transition: 0.4s ease-in-out;
    padding: 7px 12px;
    color: white;
    border-radius: 5px;
    width: 100%;
    
}

#reset{
    background-color: transparent;
    border: 2px solid firebrick;
    opacity: 0.9;
    transition: 0.4s ease-in-out;
    border-radius: 5px;
    color: white;
    width: 100%;
    padding: 7px 12px;
}

/* @media(max-width:360px){
    .allcal{
        width: 250px;
        line-height: 1.0;
    }
    #name{
        padding: 5px;
        width: 200px;
        border-radius: 10px;
        font-size: 18px;
        border: 1px solid black;
    }
    #nameErr{
        margin-left: 0px;
    }
    small{
        margin-left: 0px;
    }
    #dateOfBirth{
        padding: 5px;
        font-weight: 600;
        width: 145px;
        font-size: 14px;
        border: 1px solid black;   
    }
    button{
        margin: 5px 10px;
    }
} */

/* @media(max-width:380px){
    .allcal{
        width: 300px;
        line-height: 1.5;
        height: 350px;
    }
    #name{
        padding: 5px;
        width: 200px;
        border-radius: 10px;
        font-size: 18px;
        border: 1px solid black;
    }
    #nameErr{
        margin-left: 55px;
    }
    small{
        margin-left: 55px;
    }
    #dateOfBirth{
        padding: 5px;
        font-weight: 600;
        width: 145px;
        font-size: 18px;
    }
    button{
        margin: 0px 25px;
        margin-top: 50px;
    }
} */